<div class="app">
  <div class="container-main">
    <div class="row">
      <div class="col-12 col-md-12">
        <h2 class="font-weight-bold text-center text-uppercase pb-5">chọn mẫu giao diện</h2>
      </div>
      <div class="col-md-4 col-12">
        <div class="card-sendo" (click)="goLayoutSendo()">
          <div class="card-sendo-body">
            <img src="../assets/logo/sendo.jpg" alt="" style="width: 100%;height: 100%;">
            <div class="sendo-title font-weight-bold text-center text-uppercase">Sendo</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="card-shopee">
          <div class="card-shopee-body">
            <img src="../assets/logo/shopee-logo.png" alt="" style="width: 100%;height: 100%;">
            <div class="shopee-title font-weight-bold text-center text-uppercase">shopee</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="card-tiki">
          <div class="card-tiki-body">
            <img src="../assets/logo/logo-tiki.png" alt="" style="width: 100%;height: 100%;">
            <div class="tiki-title font-weight-bold text-center text-uppercase">tiki</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
